<div class="theater-container">
  <div class="theater-list">
    <h2>Available Theaters</h2>
    <mat-card *ngFor="let theater of theaters" (click)="selectTheater(theater)" class="theater-item">
      <mat-card-header>
        <mat-card-title>{{ theater.name }}</mat-card-title>
        <mat-card-subtitle>{{ theater.address }}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  <div class="show-times" *ngIf="selectedTheater">
    <h2>Available Show Times</h2>
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>{{ selectedTheater.name }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="show-time-list">
          <button mat-raised-button color="primary" *ngFor="let showtime of selectedTheater.showtimes"
            (click)="selectShowTime(showtime)"
            [class.active]="selectedShowTime === showtime">
            {{ showtime.date + ' ' + showtime.time }}
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
<!--
  <div class="seat-selection" *ngIf="selectedShowTime">
    <h2>Select Your Seats for {{ selectedShowTime.date + ' ' + selectedShowTime.time }}</h2>
    <mat-card>
      <div class="seat-map">
        <div *ngFor="let row of seatMap; let rowIndex = index" class="seat-row">
          <div
            *ngFor="let seat of row; let seatIndex = index"
            [class.available]="!seat.reserved"
            [class.unavailable]="seat.reserved"
            [class.selected]="isSeatSelected(rowIndex, seatIndex)"
            (click)="toggleSeatSelection(rowIndex, seatIndex, seat)"
            class="seat"
          >
            {{ seat.rowLabel }}{{ seat.seatNumber }}
          </div>
        </div>
      </div>
    </mat-card>
  </div>
-->
  <!-- src/app/app.component.html -->
  <div class="seat-selection" *ngIf="selectedShowTime">
    <h2>Select Your Seat for {{ selectedShowTime.date + ' ' + selectedShowTime.time }}</h2>
    <app-seat-map [seats]="seats" (seatSelected)="onSeatSelected($event)"></app-seat-map>
    <div *ngIf="selectedSeat"><p> {{"Selected seat: " +  selectedSeat.rowLabel + selectedSeat.seatNumber + ", Price: $" + selectedSeat.price }}</p></div>
    <div>
      <button 
      mat-raised-button
      (click)="bookTicket()" 
      [disabled]="selectedSeat === null">
      Book Ticket
    </button>
    </div>
  </div>
 

</div>
