<div class="payment-container">
    <h2>Payment Processing</h2>
  
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
      <div class="form-group"  >
        <label for="fullName" *ngIf="!isRegistered">Full Name</label>
        <input id="fullName"  *ngIf="!isRegistered" formControlName="fullName" type="text" class="form-control"/>
        <div *ngIf="formControls['fullName'].invalid && isSubmitted" class="error">
          Full Name is required and must be at least 3 characters.
        </div>
  
        <label for="email" *ngIf="!isRegistered">Email</label>
        <input id="email"  *ngIf="!isRegistered" formControlName="email" type="email" class="form-control" />
        <div *ngIf="formControls['email'].invalid && isSubmitted" class="error">
          Please enter a valid email address.
        </div>
      </div>
  
      <div class="form-group">
        <label for="cardHolderName">Card Holder Name</label>
        <input id="cardHolderName" formControlName="cardHolderName" type="text" class="form-control" />
        <div *ngIf="formControls['cardHolderName'].invalid && isSubmitted" class="error">
          Please enter a valid name.
        </div>
      </div>
  
      <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <input id="cardNumber" formControlName="cardNumber" type="text" class="form-control" />
        <div *ngIf="formControls['cardNumber'].invalid && isSubmitted" class="error">
          Please enter a valid card number.
        </div>
      </div>
  
      <div class="form-group">
        <label for="expiryDate">Expiry Date</label>
        <input id="expiryDate" formControlName="expiryDate" type="text" class="form-control" placeholder="MM/YY" />
        <div *ngIf="formControls['expiryDate'].invalid && isSubmitted" class="error">
          Please enter a valid expiry date (MM/YY).
        </div>
      </div>
  
      <div class="form-group">
        <label for="cvv">CVV</label>
        <input id="cvv" formControlName="cvv" type="text" class="form-control" />
        <div *ngIf="formControls['cvv'].invalid && isSubmitted" class="error">
          CVV is required and should be 3 digits.
        </div>
      </div>
  
      <div class="form-group">
        <p><strong>Total Amount:</strong> {{ ticketPrice | currency: 'USD' }}</p>
      </div>
  
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  
    <div *ngIf="confirmationMessage" class="confirmation-message">
      {{ confirmationMessage }}
    </div>
  </div>
  
