.header {
  background-color: black;
  color: white;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
  font-size: 1.5rem;
  vertical-align: middle;
}

.nav-links li a:hover {
  color: #ffe500; 
}

.mat-icon {
  font-size: 1.8rem;
  vertical-align: middle; 
}
